/* FONT: CODA
///Value - Weight name///
400 Regular
800 extra bold
*/

$font_coda: "Coda", system-ui;

/* FONT: Press Start 2P
///Value - Weight name///
400 Regular
*/
$font_pressstart: "Press Start 2P", system-ui;


$font_dyna: "DynaPuff", system-ui;