/*--------------------------------------------------------------
==== COLORS ====
--------------------------------------------------------------*/
$color_blue_dark: #312667;
$color_blue_light: #ADE7F4;
$color_orange_dark: #FF7A4A;
$color_orange_light: #FFBD5E;
$color_orange_tint: #FEF8F0;

$color_black: #000;
$color_white: #fff;